html, body {
    margin: 0;
    font-family: dnp-shuei-mincho-pr6n, sans-serif;
    font-style: normal;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
p {
    color: #222;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    color: #222;
    font-weight: normal;
}
.container {
    margin: 0 auto;
    max-width: 1127px;
}
.section-title {
    margin-bottom: 70px;
    text-align: center;
    position: relative;
    h2 {
        line-height: 43px;
        font-size: 38px;
        letter-spacing: 4px;
    }
    p {
        font-size: 12px;
    }
}
.title-accent-line {
    margin: 50px auto 0;
    width: 60px;
    height: 2px;
    background: #B2822E;
}

// cotact-wrapper css
#contact-wrapper {
    padding: 100px 0;
    .container {
        max-width: 800px;
    }
    p {
        margin-bottom: 40px;
        text-align: center;
    }
}
form {
    width: 100%;
}
.form-item {
    margin-bottom: 30px;
}
label {
    margin-bottom: 10px;
    // padding: 4px 10px;
    font-size: 18px;
    display: block;
    span {
        margin-left: 10px;
        font-size: 12px;
        color: #6B0504;
    }
}
input[type="text"], input[type="email"], input[type="num"], textarea {
    padding: 8px 5px;
    width: 100%;
    font-size: 15px;
    border: 1px solid #707070;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0;
}
input[type="submit"] {
    padding: 15px 100px;
    background-color: #B2822E;
    color: #fff;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    transition: all .3s;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.submit-btn {
    text-align: center;
}

// footer css
footer {
    padding: 20px 0 20px;
    background-color: #222;
    text-align: center;
    p {
        color: #fff;
        font-size: 12px;
    }
}

// media query css
@media screen and (max-width: 1200px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 768px) {
    #contact-wrapper {
        padding: 80px 0;
    }
}
@media screen and (max-width: 480px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .section-title h2 {
        font-size: 32px;
    }
    input[type="submit"] {
        width: 100%;
    }
}