html, body {
    margin: 0;
    font-family: dnp-shuei-mincho-pr6n, sans-serif;
    font-style: normal;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
p {
    color: #222;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    color: #222;
    font-weight: normal;
}
.container {
    margin: 0 auto;
    max-width: 1127px;
}
.section-title {
    margin-bottom: 70px;
    text-align: center;
    position: relative;
    h2 {
        line-height: 43px;
        font-size: 38px;
        letter-spacing: 4px;
    }
    p {
        font-size: 12px;
    }
}
.title-accent-line {
    margin: 50px auto 0;
    width: 60px;
    height: 2px;
    background: #B2822E;
}
.text-db {
    display: block;
}

// guide-wrapper css
#guide-wrapper {
    padding: 100px 0;
    background-color: #fff;
    text-align: center;
    .container {
        max-width: 900px;
    }
    // table {
    //     width: 100%;
    //     text-align: center;
    //     th {
    //         padding: 15px;
    //         font-weight: bold;
    //         background-color: #A7A7A7;
    //         color: #222;
    //         span {
    //             margin-top: 5px;
    //             display: block;
    //             font-size: 10px;
    //             line-height: 15px;
    //         }
    //     }
    //     td {
    //         background-color: #E9E9E9;
    //     }
    // }
}
.guide {
    margin-bottom: 60px;
    text-align: center;
    &:last-child {
        margin-bottom: 0;
    }
    h3 {
        font-size: 22px;
        font-weight: bold;
    }
}
.guide-list {
    margin-top: 30px;
    text-align: left;
    h4 {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
    }
    h5 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
    }
    p {
        margin: 0;
    }
}

// footer css
footer {
    padding: 20px 0 20px;
    background-color: #222;
    text-align: center;
    p {
        color: #fff;
        font-size: 12px;
    }
}

// media query css
@media screen and (max-width: 1200px) {
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media screen and (max-width: 768px) {
    #guide-wrapper {
        padding: 80px 0;
    }
}
@media screen and (max-width: 480px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .text-db {
        display: inline;
    }
    .section-title h2 {
        font-size: 32px;
    }
}