html, body {
  margin: 0;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  color: #222;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 22px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: #222;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  max-width: 1127px;
}

.section-title {
  margin-bottom: 70px;
  text-align: center;
  position: relative;
}

.section-title h2 {
  line-height: 43px;
  font-size: 38px;
  letter-spacing: 4px;
}

.section-title p {
  font-size: 12px;
}

.title-accent-line {
  margin: 50px auto 0;
  width: 60px;
  height: 2px;
  background: #B2822E;
}

.minus, .pulus, .number {
  padding: 5px 8px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.number {
  background: #fff;
  border: 1px solid #a7a7a7;
  border-radius: 3px;
}

.msg {
  color: #A3320B;
  text-align: center;
}

.hide {
  display: none;
}

.change-btn {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  z-index: 998;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .7;
}

.next-btn {
  right: 10px;
}

.next-btn .slide-arrow {
  margin-right: -1px;
}

.next-btn .slide-arrow div:first-child {
  width: 10px;
  height: 3px;
  background-color: #222;
  transform: rotate(45deg);
  border-radius: 1px;
}

.next-btn .slide-arrow div:last-child {
  margin-top: 2px;
  width: 10px;
  height: 3px;
  background-color: #222;
  transform: rotate(-45deg);
  border-radius: 1px;
}

.prev-btn {
  left: 10px;
}

.prev-btn .slide-arrow {
  margin-left: -2px;
}

.prev-btn .slide-arrow div:first-child {
  width: 10px;
  height: 3px;
  background-color: #222;
  transform: rotate(-45deg);
  border-radius: 1px;
}

.prev-btn .slide-arrow div:last-child {
  margin-top: 2px;
  width: 10px;
  height: 3px;
  background-color: #222;
  transform: rotate(45deg);
  border-radius: 1px;
}

.food-slide {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.food-slides {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.food-slides img {
  width: 100%;
  height: 100%;
}

#menu-wrapper {
  padding: 100px 0;
  position: relative;
}

#menu-wrapper .container {
  max-width: 1200px;
}

.menu-section {
  margin-top: 140px;
  padding: 60px 0 20px;
  position: relative;
  background-color: #FFF;
  text-align: center;
  border: 1px solid #222;
}

.menu-section select {
  width: 30px;
  height: 30px;
}

.menu-section-title {
  margin-top: -115px;
  margin-bottom: 60px;
  position: relative;
}

.menu-section-title p {
  margin: 0;
  font-size: 12px;
}

.menu-section-title h3 {
  font-size: 30px;
}

.menu-titles {
  padding: 0 50px;
  display: inline-block;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.menu-tab-group {
  margin-bottom: 70px;
}

.menu-tab-group ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-tab-group ul li {
  margin-right: 30px;
  padding: 15px 26px;
  letter-spacing: 2px;
  border-radius: 40px;
  cursor: pointer;
}

.menu-tab-group ul li:last-child {
  margin-right: 0;
}

.delivery-menu-list, .takeout-menu-list {
  display: none;
}

.delivery-menu-tab.delivery-active, .takeout-menu-tab.takeout-active {
  background: #B2822E;
  color: #FFF;
  transition: all 1s ease-out;
}

.delivery-menu-list.delivery-show {
  display: block;
}

.takeout-menu-list.takeout-show {
  display: block;
}

.menu-description {
  font-size: 16px;
}

.product-list {
  max-width: 800px;
  margin: 70px auto 0;
}

.product-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.product-item p {
  margin: 0;
}

.product-item img {
  width: 30%;
}

.item-details {
  padding: 10px 22px;
  width: 70%;
  text-align: left;
  box-sizing: border-box;
}

.item-title {
  margin-bottom: 10px;
}

.item-title p {
  margin-bottom: 5px !important;
  font-size: 12px;
}

.item-title h4 {
  font-size: 18px;
  font-weight: bold;
}

.item-line {
  width: 100%;
  height: 1px;
  background-color: rgba(34, 34, 34, 0.5);
}

.item-description {
  margin-top: 30px;
  margin-bottom: 30px;
}

.item-description p:first-child {
  font-size: 14px;
  margin-bottom: 10px;
}

.item-description p:last-child {
  font-size: 12px;
}

.item-price {
  display: flex;
  align-items: center;
}

.item-price p {
  margin-right: 30px;
  font-size: 26px;
}

.order-btn-section {
  margin-top: 100px;
}

.btn {
  margin-top: 10px;
  text-align: center;
  padding: 16px 50px;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  background: #A3320B;
  letter-spacing: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.delivery-spirits:last-child {
  margin-top: 60px;
}

.delivery-spirits-description {
  max-width: 700px;
  margin: 0 auto 70px;
  display: flex;
  align-items: center;
  text-align: left;
}

.delivery-spirits-description img {
  margin-right: 40px;
  width: 28%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.menu-category-title {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
}

.menu-category-title:first-child {
  margin-top: 0;
}

.two-column-item {
  margin-right: 40px;
  margin-bottom: 60px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  text-align: left;
}

.two-column-item:nth-child(2n) {
  margin-right: 0;
}

.two-column-item img {
  width: 100%;
}

.two-column-item h4, .two-column-item h5 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.two-column-item p {
  margin: 0;
  font-size: 12px;
}

.two-column-item p:first-of-type {
  margin-bottom: 5px;
}

.three-column-list {
  margin: 70px auto 0;
  max-width: 1090px;
}

.three-column-item {
  margin-right: 21px;
  margin-bottom: 20px;
  width: calc(33.3333% - 14px);
  box-sizing: border-box;
  display: flex;
}

.three-column-item:nth-child(3n) {
  margin-right: 0;
}

.three-column-item img {
  margin-right: 10px;
  width: 36%;
  height: 100%;
}

.three-column-detail {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}

.three-column-detail h5 {
  width: 100%;
}

.three-column-title p {
  margin: 0;
  font-size: 12px;
}

.three-column-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spirit-price {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spirit-price p {
  margin-right: 36px;
  margin-bottom: 0 !important;
  font-size: 18px;
}

.foods {
  display: flex;
  flex-wrap: wrap;
}

.food-item {
  margin-right: 21px;
  margin-bottom: 40px;
  width: calc(33.3333% - 14px);
  box-sizing: border-box;
}

.food-item:nth-child(3n) {
  margin-right: 0;
}

.food-item img {
  width: 100%;
  height: auto;
}

.food-details h4 {
  margin-bottom: 10px;
  text-align: left;
  font-size: 15px;
}

.food-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.takeout-cocktail {
  margin-bottom: 60px;
}

.takeout-cocktail-name {
  width: 70%;
  text-align: left;
}

.takeout-cocktail-name h5 {
  font-size: 18px;
}

.takeout-cocktail-name p {
  font-size: 12px;
}

.takeout-cocktail-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.takeout-cocktail-item p {
  margin: 0;
}

.takeout-cocktail-price {
  display: flex;
  align-items: center;
}

.takeout-cocktail-price p {
  margin-right: 20px;
}

.price-letter-sm p {
  font-size: 16px;
}

.collaboration-intro {
  margin-bottom: 70px;
  width: 100%;
  display: flex;
}

.collaboration-intro img {
  width: 40%;
  height: 100%;
}

.collaboration-intro-details {
  margin-left: auto;
  width: 50%;
  text-align: left;
}

.collaboration-intro-details .collaboration-line {
  width: 100%;
}

.collabo-food-item {
  margin-bottom: 60px;
  text-align: left;
}

.collaboration-item-line {
  position: relative;
}

.collaboration-item-line p {
  margin: 0;
  padding-right: 25px;
  display: inline-block;
  background-color: #fff;
  font-style: italic;
  position: relative;
  z-index: 1;
}

.collaboration-item-line span {
  height: 1px;
  background-color: #A7A7A7;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

.collaboration-food-price {
  margin-left: 0 !important;
  display: flex;
  align-items: center;
}

.collaboration-food-price p {
  margin-right: 60px;
  font-size: 26px;
}

.collaboration-menu-item {
  margin-top: 70px;
}

.collaboration-menu-item h4 {
  margin-bottom: 50px;
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
}

#collaboration_menu_3 {
  margin-bottom: 0;
}

#collaboration_menu_3 .collabo-food-image img:first-child {
  width: 47% !important;
}

.collabo-food {
  margin-top: 20px;
}

.collabo-food-image {
  margin-bottom: 20px;
  display: flex;
}

.collabo-food-image img {
  width: 35%;
  height: 100%;
}

.collabo-food-details h5 {
  font-size: 18px;
}

.category-d, .category-t {
  padding: 3px 12px;
  font-size: 10px;
  display: inline-block;
  box-sizing: border-box;
}

.category-d {
  background-color: #222;
  color: #fff;
}

.category-t {
  background-color: #fff;
  color: #222;
  border: 1px solid #222;
}

.sm-collabo-title {
  margin-bottom: 50px;
  text-align: center;
  display: none;
}

.sm-collabo-title p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.sm-collabo-title p:nth-child(2n) {
  margin: 5px 0;
  font-size: 14px;
}

footer {
  padding: 20px 0 20px;
  background-color: #222;
  text-align: center;
}

footer p {
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-section {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 980px) {
  .menu-section:first-child .menu-tab-group ul {
    flex-wrap: wrap;
  }
  .menu-section:first-child .menu-tab-group li {
    width: calc(50% - 15px);
    box-sizing: border-box;
  }
  .menu-section:first-child .menu-tab-group li:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  #menu-wrapper {
    padding: 80px 0;
  }
  .tb-text-block {
    display: block;
  }
  .three-column-item {
    margin-right: 20px;
    width: calc(50% - 10px);
  }
  .three-column-item:nth-child(3n) {
    margin-right: 20px;
  }
  .three-column-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .section-title h2 {
    font-size: 32px;
  }
  p {
    font-size: 14px;
  }
  .order-btn-section {
    margin-top: 70px;
  }
  .btn {
    width: 100%;
  }
  .tb-text-block {
    display: initial;
  }
  .sm-text-block {
    display: block;
  }
  .minus, .pulus, .number {
    padding: 5px 6px;
  }
  .menu-section {
    padding-right: 0;
    padding-left: 0;
    border-top: 1px solid #222;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
  .menu-section:first-child .menu-tab-group li {
    margin-right: 0;
    width: 100%;
  }
  .menu-section:nth-child(2n) .menu-tab-group ul {
    flex-wrap: wrap;
  }
  .menu-section:nth-child(2n) .menu-tab-group li {
    margin-right: 0;
    width: 100%;
    box-sizing: border-box;
  }
  .menu-titles {
    padding-right: 23px;
    padding-left: 23px;
  }
  .menu-description {
    font-size: 14px;
  }
  .product-item {
    margin-bottom: 40px;
    display: block;
  }
  .product-item img {
    width: 60%;
  }
  .item-details {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
  .item-price {
    justify-content: space-between;
  }
  .delivery-spirits-description {
    display: block;
    text-align: center;
  }
  .delivery-spirits-description img {
    margin-right: 0;
    width: 40%;
  }
  .delivery-spirits-description p {
    text-align: left;
  }
  .columns {
    display: block;
  }
  .sm-columns {
    display: flex;
  }
  .two-column-item {
    margin-right: 0;
    width: 100%;
  }
  .three-column-item {
    display: block;
  }
  .three-column-item img {
    margin-right: 0;
    width: 100%;
    height: auto;
  }
  .foods {
    display: block;
  }
  .food-item {
    margin-right: 0;
    width: 100%;
  }
  .menu-category-title {
    font-size: 18px;
  }
  .takeout-cocktail-item {
    margin-bottom: 40px;
    display: block;
  }
  .takeout-cocktail-name {
    margin-bottom: 20px;
    width: 100%;
  }
  .takeout-cocktail-name h5 {
    font-size: 16px;
  }
  .takeout-cocktail-price {
    justify-content: space-between;
  }
  .collaboration-menu-item h4 {
    display: none;
  }
  .sm-collabo-title {
    display: block;
  }
  .collaboration-intro {
    display: block;
  }
  .collaboration-intro img {
    margin-bottom: 25px;
    width: 80%;
  }
  .collaboration-intro-details {
    width: 100%;
  }
  .sm-text-center {
    text-align: center;
  }
  .collabo-food-details h5 {
    font-size: 16px;
  }
  .collabo-food-details p {
    font-size: 12px !important;
  }
  .collaboration-food-price {
    justify-content: space-between;
  }
  .collaboration-food-price p {
    font-size: 22px !important;
  }
  .collabo-food-image img {
    width: 50%;
  }
  #collaboration_menu_3 .collabo-food-image img:first-child {
    width: 57% !important;
  }
  #collaboration_menu_3 .collabo-food-image img:last-child {
    width: 43% !important;
  }
  #collaboration_menu_2 .collabo-food-image img {
    width: 100% !important;
  }
}
