html, body {
  margin: 0;
  font-family: dnp-shuei-mincho-pr6n, sans-serif;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  color: #222;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 22px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: #222;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  max-width: 1127px;
}

.section-title {
  margin-bottom: 70px;
  text-align: center;
  position: relative;
}

.section-title h2 {
  line-height: 43px;
  font-size: 38px;
  letter-spacing: 4px;
}

.section-title p {
  font-size: 12px;
}

.title-accent-line {
  margin: 50px auto 0;
  width: 60px;
  height: 2px;
  background: #B2822E;
}

#profile-wrapper {
  padding: 100px 0;
  background-color: #fff;
  text-align: center;
}

#profile-wrapper .container {
  max-width: 700px;
}

table {
  width: 100%;
  font-size: 15px;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border-bottom: solid 1px #eee;
}

table th {
  width: 30%;
  padding: 30px 0;
  font-weight: normal;
  background-color: #fff;
  color: #222;
}

table td {
  color: #222;
}

footer {
  padding: 20px 0 20px;
  background-color: #222;
  text-align: center;
}

footer p {
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  #profile-wrapper {
    padding: 80px 0;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .section-title h2 {
    font-size: 32px;
  }
  table {
    font-size: 14px;
  }
}
